<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Challenge Project</title>
</head>

<body>
<header>
     
        <img class="header-logo" src="/img/logo.png">
        <a class="header-about" href="/about">ABOUT</a>
        <a class="header-how" href="/how">HOW TO</a>
        <a class="header-faq" href="/how">FAQS</a>
        <a class="header-contact" href="/contact">CONTACT US</a>
   
        <img class="background-banner" src="../img/banner.png" >
  
</header>

<main>
        <div>
            <h2 class="getText">Your awesome traffic permit consultant.</h2>
            <a class="get" href="#">GET STARTED -></a>
        </div>
    
    <div class="about">
       <h4>ABOUT US </h4>
    </div>
    <div class="aboutone">   
       <p>The occupational traffic permit is one of the most
          important things in the company when carryng out
          freight trasport. In fact. It is a prerequisite for doing
          business traffic at all.
    </div> 
    <div class="abouttwo">     
       <h1 style=" background-color: #fcddd4b6;
       ;">How do you do when you need to obtain
          a coomercial traffic permit for freight
          transport to your business?</h1>
    </div>
    <div class="aboutimg">
        <img src="../img/entregador1.png" width="80%" height="120%">
    </div>
      
 

    <div class="howimg">
        <img src="../img/entregador2.png" width="90%" height="130%">
    </div>
    <div class="how">
        <h4 class="how-h4">HOW TO APPLY</h4><br>
        <p>When applying for a traffic permit, there are certain
           requirements that you must meet that are included in
           the examination: requirements for professional
           knowledge, solid establishment, good reputation and
           financial resouces, important to remember is to confirm
           your aplication for a traffic permit by the company's
           company signer or CEO.</p>
    </div>

    <div class="faq">
        <h4>FAQ</h4>
    </div>

    <div class="faqone">
        <h3>Questions and Answers
            on Professional Traffic
            Permits:</h3>
    </div>
    
    <div class="faqimg">
        <img src="../img/entregadorFagl.png" width="300px" >
    </div>




    
        <h5 class="faqquestions1">
            What is a professional traffic permit? -
        </h5>
        <p class="faqquestionsR">
            Traffic permits are a requirement 
            for conducting professional traffic.
        </p>
        <h5 class="faqquestions2">
            How to check the traffic condition?  +
        </h5>
        <h5 class="faqquestions3">
            What are the requirements for a 
            professional traffic permit?   +
        </h5>
        <h5 class="faqquestions4">
            Are there professional traffic permit
             training courses at a distance?  +
        </h5>
    

        <h5 class="faqquestions5">
            When is a professional traffic permit needed? +
        </h5>
        <h5 class="faqquestions6">
            Where to look for a traffic permit?  +
        </h5>
        <h5 class="faqquestions7">
            Are there differences between a traffic 
            permit and a professional traffic permit?  +
        </h5>
        <h5 class="faqquestions8">
            How much does a commercial traffic permit cost for goods?  +
        </h5>
        <h5 class="faqquestions9">
            How to plug in for the traffic permit test? +
        </h5>
        <h5 class="faqquestions10">
            How is the sample for a professional traffic permit booked?  +
        </h5>
      
        <h5 class="faqquestions11">LOAD MORE  +</h5>
      

    <div class="aboutus">
        <h4>ABOUT US</h4>
    </div>
    <div class="aboutustwo">
        <h3>Out Awesome
            Clients</h3>
    </div>
    <div class="aboutusisak">
        <p>Yes, you will need to have the land owner
            sign the permit application as the Permittee,
            and you sign the permit as the Applicant or
            Agent for the Permittee.</p>
         <img src="../img/isak.png">
    </div>
    <div class="aboutussimon">
        <p>From most barricade or traffic control
            companies located in the phone book. They
            employ certified Traffic Control Supervisors
            (TCS) who can generate and certify the
            traffic control plan.</p>
         <img src="../img/simon.png">
    </div>

        

  
</main>

<footer>

        <img class="footer-navImg" src="../img/caminhaofooter.png">
    
    <p class="footer-nav">We provide traffic management
       consultants so you get started
       quickly, contact us for a quote
       today!</p>
  

    <div class="form">
    <form action="/salvar" method="POST">
        <label class="form-name" for="nome">Name</label>
        <input class="form-nametxt"id="nome" name="nome" type="text" required>
        <br>
        <label class="form-email" for="email">Email address</label>
        <input class="form-emailtxt"type="email" name="email" id="email"required>
        <br>
        <label class="form-message" for="mensagem">Message</label>
        <input class="form-messagetxt"type="text" name="mensagem" id="mensagem" required>
        <br>
        <button class="form-get" type="submit">GET STARTED -></button>
    </form>
    </div>  

        
            <img class="footer-navTwo"src="../img/logoAzul.png" >
            <p class="footer-about">ABOUT</p>
            <p class="footer-how">HOW TO</p>
            <p class="footer-faq">FAQS</p>
        

        <img class="footer-bg" src="../img/BG.png">

    
        <p class="icons1">Copyryght @ 2009</p>
        <img class="icons2" src="../img/facebook.png">
        <img class="icons3" src="../img/twitter.png">
        <img class="icons4" src="../img/instagran.png">
    

</footer>
</body>
</html>